absl-py==1.4.0
aiohttp==3.9.1
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==22.2.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1677845287175/work
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.6.2
Brotli==1.0.9
cachetools==5.3.0
captum==0.6.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cmd2==2.4.3
colorama==0.4.6
comm==0.1.2
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
docker-pycreds==0.4.0
exceptiongroup==1.2.0
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.12.0
Flask==2.3.2
Flask-Compress==1.13
flatbuffers==23.5.26
fonttools==4.38.0
fqdn==1.5.1
frozendict==2.3.10
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.18.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
h5py==3.10.0
huggingface-hub==0.19.4
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.21.2
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jaxtyping==0.2.19
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.2
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.13.1
kiwisolver==1.4.4
libclang==16.0.6
lightning-utilities==0.10.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.5.0
matplotlib-inline==0.1.6
micrograd==0.1.0
mistune==2.0.5
mpmath==1.3.0
multidict==6.0.4
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.22.0
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==3.1.0
pluggy==1.3.0
portalocker==2.8.2
PrettyPrintTree==2.0.0
prettytable==3.10.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.23.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1669306857274/work
pyconll==3.2.0
pycparser==2.21
Pygments==2.14.0
PyMaxflow==1.3.0
pyparsing==3.0.9
pyperclip==1.8.2
pyrsistent==0.19.3
pytest==7.4.3
python-dateutil==2.8.2
python-json-logger==2.0.7
pytorch-lightning==2.1.3
pytorch-msssim==0.2.1
pytz==2024.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
-e git+https://github.com/butoialexandra/eth-nlp-f22-hw3.git@546dc57a5e5bb561fec06c0673ae6e3a7f726ef5#egg=rayuela
regex==2023.10.3
requests==2.30.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
safetensors==0.4.0
scikit-learn==1.2.2
scipy==1.8.0
Send2Trash==1.8.0
sentry-sdk==1.43.0
setproctitle==1.3.3
setuptools-scm==7.1.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4
stack-data==0.6.2
svgling==0.4.0
svgwrite==1.4.3
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.15.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torch==2.1.1
torchdata==0.7.1
torchmetrics==1.3.0
torchtext==0.16.1
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.35.2
typeguard==4.2.1
typing_extensions==4.10.0
tzdata==2024.1
uri-template==1.2.0
urllib3==1.26.15
wandb==0.16.4
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.4
widgetsnbextension==4.0.5
wrapt==1.16.0
yarl==1.9.4
zipp==3.15.0
